<!DOCTYPE html>
<html>
<head lang="zh-cn">
    {% load static customtags %}
    <meta charset="utf8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 响应式设计标签 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ZUI 标准版压缩后的 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/zui/1.8.1/css/zui.min.css">

    <!-- ZUI Javascript 依赖 jQuery -->
    <script src="//cdn.bootcss.com/zui/1.8.1/lib/jquery/jquery.js"></script>
    <!-- ZUI 标准版压缩后的 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/zui/1.8.1/js/zui.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <script src="{% static 'js/main.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
{% block msg %}{% endblock %}
{% block header %}
  {% include "header.html" %}
{% endblock %}
  <div class="container">
    <div class="left">
      <div class="sidebar">
        <nav class="menu" data-ride="menu" style="width: 200px">
          <ul id="treeMenu" class="tree tree-menu" data-ride="tree">
            <li><a href="{% url 'rbac:list_menu' %}"><i class="icon icon-lock"></i>权限管理</a></li>
            <li><a href="{% url 'rbac:assign-permission' %}"><i class="icon icon-lock"></i>权限分配</a></li>
            <li><a href="{% url 'oauth2_provider:list' %}"><i class="icon icon-asterisk"></i>应用管理</a></li>
            <li><a href="{% url 'rbac:list_role' %}"><i class="icon icon-anchor"></i>角色管理</a></li>
            <li><a href="/admin/"><i class="icon icon-user"></i>用户管理</a></li>
          </ul>
        </nav>
      </div>
    </div>
  
    <div class="right">
      {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>
