<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    {% load static %}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <script src="{% static 'js/base64.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>
    <style>
        .login-container {
          margin-top: 150px;
        }

        .login-box {
          width: 450px;
          margin-left: auto;
          margin-right: auto;
        }

        .labeltip {margin-left: 20px;}

        h3 {text-align: center;}

        button {width: 100%;}

        #ImgVerifyCode {
          margin: 5px;
          padding: 2px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }

        .valid {
          background: url("{% static 'css/images/checked.gif' %}") no-repeat right;
        }

        .error {
          color: red;
        }
    </style>
    <script>
        $(function () {
            var user = Cookies.get('username');
            var pass = Cookies.get('password');
            if (user && pass) {
                $("#id_username").val(user);
                $("#id_password").val(Base64.decode(pass));
                $("#id_remember").attr("checked", true)
            }
            $("button").click(function () {
                    var username = $("#id_username").val().trim();
                    var password = $("#id_password").val().trim();
                    if ($("#id_remember").prop("checked")) {
                        Cookies.set('username', username, {expires: 7, path: ''});
                        Cookies.set('password', Base64.encode(password), {expires: 7, path: ''})
                    }
                    else {
                        Cookies.remove('username', {path: ''});
                        Cookies.remove('password', {path: ''});
                    }
                }
            );

            $("#ImgVerifyCode").click(function () {
                $(this).attr("src", "{% url 'image' %}?" + Date.parse(new Date()))
            });

            $("form").validate({
                rules: {
                    username: {
                        minlength: 2
                    },
                    password: {
                        minlength: 8,
                        rangelength:[8, 16],
                        remote: {
                            url: "{% url 'password' %}",
                            type: "POST",
                            data: {
                                username: function () {
                                    return $("#id_username").val()
                                },
                                csrfmiddlewaretoken: function () {
                                    return $("form input[name=csrfmiddlewaretoken]").val()
                                }
                            }
                        }
                    },
                    verification_code: {
                        remote: {
                            url: "{% url 'verify' %}",
                            type: "POST",
                            data: {
                                csrfmiddlewaretoken: function () {
                                    return $("form input[name=csrfmiddlewaretoken]").val()
                                }
                            }
                        }
                    }
                },
                messages: {
                    username: {
                        minlength: $.validator.format("最少需要{0}个字符"),
                        required: "必填字段"
                    },
                    password: {
                        required: "必填字段",
                        minlength: $.validator.format("最少需要{0}个字符"),
                        rangelength: $.validator.format("最少需要{0}-{1}个字符"),
                        remote: "用户名或密码不正确"
                    },
                    verification_code: {
                        required: "必填字段",
                        remote: "验证码不正确"
                    }
                },
                success: "valid"
            })
        })
    </script>
</head>
<body>
    {% include "message.html" %}
    {% load widget_tweaks %}
    <div class="login-container">
        <div class="login-box">
           <div class="panel panel-primary">
               <div class="panel-heading">
                   <h3 class="panel-title">登录</h3>
               </div>
               <div class="panel-body">
                   <form method="post" action="" class="form-horizontal" role="form">
                       {% csrf_token %}
                       {% for field in form %}
                           <div class="form-group">
                               {% ifequal field.id_for_label "id_remember" %}
                                   <!-- <label for="{{ field.id_for_label }}" class="col-md-offset-2 control-label"> -->
                                   <label for="{{ field.id_for_label }}" class="control-label labeltip">
                                   {{ field }}
                                   <span>{{ field.label }}</span>
                                   </label>
                               {% else %}
                                   <label for="{{ field.id_for_label }}" class="col-md-2 control-label">{{ field.label }}</label>
                                   <div class="col-md-10">
                                       {{ field|attr:"class:form-control" }}
                                       {% ifequal field.id_for_label "id_verification_code" %}
                                           <img src="{% url 'image' %}" alt="验证码" id="ImgVerifyCode"/>
                                       {% endifequal %}
                                       {% if field.errors %}
                                           <div class="{% if field.errors %} help-block {% endif %}">
                                               {% for error in field.errors %}
                                                  <span class="text-danger">{{ error }}</span>
                                               {% endfor %}
                                          </div>
                                      {% endif %}
                                   </div>
                               {% endifequal %}
                           </div>
                       {% endfor %}
                       <button class="btn btn-primary" type="submit">提交</button>
                   </form>
               </div>
           </div>
        </div>
    </div>
</body>
</html>
