{% extends "base.html" %}
{% block head %}
<script>
    $(function () {
        $(".form-group textarea").parent().parent().css("height", "100px")
    })
</script>
{% endblock %}
{% load static %}
{% block msg %}{% include "message.html" %}{% endblock %}
{% block content %}
  <div id="form-item-addidc">
    <form method="post" action="" class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-2"></label>
        <div class="col-md-6 col-sm-10">
          <h3>填写IDC的基本信息</h3>
        </div>
      </div>
      {% csrf_token %}
      {% include "forms.html" %}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">提交</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
