{% extends "base.html" %}
{% block head %}
<script>
    $(function () {
        $("#menu").menu()
    })
</script>
{% endblock %}
{% load static %}
{% block msg %}{% include "message.html" %}{% endblock %}
{% block content %}
{% include "sidebar.html" %}
<div id="form-item-addps" class="container">
    <h3>填写物理服务器的基本信息</h3>
    <form method="post" action="" class="form-horizontal" role="form">
        {% csrf_token %}
        {% include "forms.html" %}
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
</div>
{% endblock %}
