{% extends "base.html" %}
{% load static %}
{% block msg %}{% include "message.html" %}{% endblock %}
{% block head %}
<link href="{% static 'plugin/chosen.min.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'plugin/chosen.jquery.min.js' %}"></script>
<script>
$(function () {
    $(".chosen-select").chosen({
          no_results_text: "没有该选项：",
          disable_search: true
    });
    $("#menu").menu()
})
</script>
{% endblock %}
{% block content %}
{% include "sidebar.html" %}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div id="form-item-addasset" class="container">
            <h3>填写主机的基本信息</h3>
            <form method="post" action="" class="form-horizontal" role="form">
                {% csrf_token %}
                {% include "forms.html" %}
                <button type="submit" class="btn btn-primary">提交</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
