{% extends "base.html" %}
{% load static %}
{% block msg %}{% include "message.html" %}{% endblock %}
{% block head %}
<link href="https://cdn.bootcss.com/zui/1.8.1/lib/chosen/chosen.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.bootcss.com/zui/1.8.1/lib/chosen/chosen.min.js"></script>
<script>
$(function () {
    $(".chosen-select").chosen({
        disable_search_threshold: 5,
        no_results_text: "没有该选项：",
        placeholder_text_multiple: "请选择模板",
    })
})
</script>
{% endblock %}
{% block content %}
  <form method="post" action="" class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-2"></label>
      <div class="col-md-6 col-sm-10">
        <h3>添加 zabbix agent</h3>
      </div>
    </div>
    {% csrf_token %}
    {% include "forms.html" %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">添加</button>
      </div>
    </div>
  </form>
{% endblock %}
