{% extends "base.html" %}
{% load static %}
{% block msg %}{% include "message.html" %}{% endblock %}
{% block head %}
<link href="{% static 'plugin/chosen.min.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'plugin/chosen.jquery.min.js' %}"></script>
<script>
    $(function () {
        $("form").submit(function (e) {
            var action = confirm("确认删除？")
            if (action == false) {
                e.preventDefault()
            }
        });

        $(".chosen-select").chosen({
            no_results_text: "没有该选项："
        });

        $("#menu").menu()
    })
</script>
{% endblock %}
{% block content %}
{% include "sidebar.html" %}
<div class="content-page">
    <div class="content">
        <div class="container">
            <h3>删除 zabbix agent</h3>
            <form method="post" action="" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <select name="host_id" multiple class="form-control chosen-select" data-placeholder="选择一台或多台Agent" size="10">
                         {% for host in host_list %}
                             <option value="{{ host.hostid }}">{{ host.host }}</option>
                         {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-danger">删除</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
