{% extends "base.html" %}
{% load static %}
{% block msg %}{% include "message.html" %}{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}"/>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
<style>
  #result textarea {
    width: 400px;
    height: 200px;
    margin-top: 10px;
    display: none;
  }
  #loading {
    background: url({% static 'css/images/loading.gif' %}) no-repeat 10px;
    line-height: 20px;
    font-size: 16px;
    color: #666;
    text-indent: 40px;
  }
</style>
<script>
    $(function () {
        $("#collect-button").button();

        $("form").ajaxForm({
            type: "POST",
            url: "{% url 'collect' %}",
            dataType: "json",
            beforeSubmit: function (arr, form, options) {
                $("#collect-button").button("disable");
                $("#loading").dialog("open");
            },
            success: function (response, statusText, xhr, form) {
                $("#loading").css("background", "url({% static 'css/images/checked.gif' %}) no-repeat 10px").html("提交成功...");
                $("#collect-button").button("enable");
                $.each(response, function(index, value) {
                    $("#test-result").text($("#test-result").text() + index + ": " + value + "\n");
                });
                $("#test-result").show();
                setTimeout(function () {
                    $("#loading").dialog("close");
                    $("form").resetForm();
                    $("#loading").css("background", "url({% static 'css/images/loading.gif' %}) no-repeat 10px").html("命令执行中...");
                }, 1000)
            }
        });

        $("#collect-button").click(function () {
            $("#test-result").html("");
            $("form").submit()
        });

        $("#loading").dialog({
            autoOpen: false,
            draggable: false,
            modal: true,
            resizable: false,
            width: 180,
            height: 50
        }).parent().find(".ui-widget-header").hide()
    })
</script>
{% endblock %}
{% block header %}
{% include "header.html" %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="left">
    {% include "sidebar.html" %}
  </div>

  <div class="right">
    <div id="form-salt-collect">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-2"></label>
          <div class="col-md-6 col-sm-10">
            <h3>saltstack 客户端</h3>
          </div>
        </div>
        {% csrf_token %}
        <div class="form-group">
          <label for="_ip" class="col-sm-2 required">IP地址</label>
          <div class="col-md-6 col-sm-10">
            <input id="_ip" type="text" required name="ip" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-primary" id="collect-button">执行收集</button>
          </div>
        </div>
      </form>
    </div>

    <div id="result">
      <textarea id="test-result" wrap="hard"></textarea>
    </div>

    <div id="loading">命令执行中...</div>
  </div>
</div>
{% endblock %}
