{% extends "base.html" %}
{% load static %}
{% block msg %}{% include "message.html" %}{% endblock %}
{% block head %}
<link href="{% static 'plugin/chosen.min.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'plugin/chosen.jquery.min.js' %}"></script>
<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
<style>
  #result textarea {
    width: 700px;
    height: 300px;
    margin-top: 10px;
    display: none;
  }
  #loading {
    background: url({% static 'css/images/loading.gif' %}) no-repeat 10px;
    line-height: 20px;
    font-size: 16px;
    color: #666;
    text-indent: 40px;
  }
</style>
<script>
    $(function () {
        $("button").button();

        $("form").ajaxForm({
            type: "POST",
            url: "{% url 'command' %}",
            beforeSubmit: function (arr, form, options) {
                $("button").button("disable");
                $("#loading").dialog("open");
            },
            success: function (response, statusText, xhr, form) {
                $("#loading").css("background", "url({% static 'css/images/checked.gif' %}) no-repeat 10px").html("提交成功...");
                $("button").button("enable");
                $("#test-result").show().text(response);
                setTimeout(function () {
                    $("#loading").dialog("close");
                    $("form").resetForm();
                    $("#loading").css("background", "url({% static 'css/images/loading.gif' %}) no-repeat 10px").html("命令执行中...");
                }, 1000)
            }
        });
  
        $("button").click(function () {
            $("#test-result").html("");
            $("form").submit()
        });

        $("#loading").dialog({
            autoOpen: false,
            draggable: false,
            modal: true,
            resizable: false,
            width: 180,
            height: 50
        }).parent().find(".ui-widget-header").hide();

        $(".chosen-select").chosen({
            disable_search_threshold: 5,
            no_results_text: "没有该选项："
        });

        $("#menu").menu()
    })
</script>
{% endblock %}
{% block content %}
{% include "sidebar.html" %}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <h3>saltstack 客户端</h3>
            <form class="form-horizontal" role="form">
                {% csrf_token %}
                {% include "forms.html" %}
                <button type="button" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div id="result" class="container">
           <textarea id="test-result" wrap="hard"></textarea>
        </div>
    </div>
    <div id="loading">命令执行中...</div>
</div>
{% endblock %}
