{% extends "base.html" %}
{% load static %}
{% block msg %}{% include "message.html" %}{% endblock %}
{% block head %}
<link href="{% static 'plugin/chosen.min.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'plugin/chosen.jquery.min.js' %}"></script>
<style>
  #result textarea {
    width: 700px;
    height: 300px;
    margin-top: 10px;
    display: none;
  }
</style>
<script>
    $(function () {
        $("button").click(function () {
            $.post(
                "{% url 'command' %}", 
                $("form").serialize(),
                function (response) {
                    $("#test-result").show().text(response)
                }
            ).fail(function (xhr, errorTxt, errorType) {
                alert(xhr.status + ": " + errorType)
            })
        });
        $(document).ajaxStart(function () {
            $(".loading").show();
        }).ajaxStop(function () {
            $(".loading").hide();
        });
        $(".chosen-select").chosen({
            disable_search_threshold: 5,
            no_results_text: "没有该选项："
        })
    })
</script>
{% endblock %}
{% block content %}
{% include "sidebar.html" %}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <h3>saltstack 客户端</h3>
            <form class="form-horizontal" role="form">
                {% csrf_token %}
                {% include "forms.html" %}
                <button type="button" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div id="result" class="container">
           <textarea id="test-result" wrap="hard"></textarea>
           <span class="loading" style="display: none;">正在努力加载中....</span>
        </div>
    </div>
</div>
<script src="{% static 'js/waves.js' %}"></script>
<!-- App js -->
<script src="{% static 'js/jquery.core.js' %}"></script>
<script src="{% static 'js/jquery.app.js' %}"></script>
{% endblock %}
