{% extends "base.html" %}
{% load static %}
{% block msg %}{% include "message.html" %}{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}"/>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<link href="https://cdn.bootcss.com/zui/1.8.1/lib/chosen/chosen.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.bootcss.com/zui/1.8.1/lib/chosen/chosen.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
<style>
  #result textarea {
    width: 450px;
    height: 300px;
    margin-top: 10px;
    display: none;
  }
  #_jid{
    display: none;
  }
  .progress {
    position:relative;
    width:300px;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
  }
  .bar {
    background-color: #B4F5B4;
    width:0%;
    height:20px;
    border-radius: 3px;
  }
  .percent {
    position:absolute;
    top:3px;
    left:48%;
    display:inline-block;
    line-height: 15px;
  }
  #loading {
    background: url({% static 'css/images/loading.gif' %}) no-repeat 10px;
    line-height: 20px;
    font-size: 16px;
    color: #666;
    text-indent: 40px;
  }
</style>
<script>
    $(function () {
        $("#push").button();

        $("#push").click(function () {
           $.ajax({
               type: "POST",
               url: "{% url 'push' %}",
               data: $.param({
                   host: $("#select_host").val(),
                   push_file: $("#select_file").val(),
                   dest: $("#_dest").val(),
                   csrfmiddlewaretoken: $("#push_form input[name=csrfmiddlewaretoken]").val(),
              }, true),
               dataType: "json",
               beforeSend: function(jqXHR, settings) {
                   $("#push").button("disable");
                   $("#loading").dialog("open");
               },
               success: function (response) {
                   $("#loading").css("background", "url({% static 'css/images/checked.gif' %}) no-repeat 10px").html("推送成功...");
                   $("#push").button("enable");
                   setTimeout(function () {
                       $("#loading").dialog("close");
                       $("#push_form").resetForm();
                       $("#loading").css("background", "url({% static 'css/images/loading.gif' %}) no-repeat 10px").html("文件推送中...");
                    }, 1000);
                   return response
               }
            }).then(function (data) {
                var r = /(\d+)/;
                var jids = [];
                for (var i=0; i<data.length; i++) {
                    jids.push(data[i].match(r)[1])
                };
                var content = "";
                for (var x=0; x<jids.length; x++) {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'job' %}",
                        data: $.param({
                            jid: jids[x],
                            csrfmiddlewaretoken: $("#hidden input[name=csrfmiddlewaretoken]").val()
                        }),
                        success: function (response) {
                            content += response;
                            $("#test-result").show().text(content)
                        }
                    });
                };
            })
        });

        $("#loading").dialog({
            autoOpen: false,
            draggable: false,
            modal: true,
            resizable: false,
            width: 180,
            height: 50
        }).parent().find(".ui-widget-header").hide();

        $(".chosen-select").chosen({
            disable_search_threshold: 5,
            no_results_text: "没有该选项：",
        });

        var bar = $(".bar");
        var percent = $(".percent");
        var stat = $("#status");

        $("#uploadFileForm").ajaxForm({
            beforeSend: function () {
                stat.empty();
                var percentVal = "0%";
                bar.width(percentVal);
                percent.text(percentVal)
            },
            beforeSubmit: function (arr, form, options) {
                $("#uploadFile").dialog("widget").find("button").eq(1).button("disable")
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + "%";
                bar.width(percentVal);
                percent.text(percentVal)
            },
            success: function (response) {
                $("#uploadFile").dialog("widget").find("button").eq(1).button("enable");
                var percentVal = "100%";
                bar.width(percentVal);
                percent.text(percentVal);
                stat.html(response);
                setTimeout(function () {
                    $("#uploadFile").dialog("close");
                    window.location.reload()
                }, 3000)
            },
            resetForm: true
        });
        
        $("#uploadFile").dialog({
            autoOpen: false,
            buttons: [
                {
                 text: "上传",
                 click: function () {
                     $("#uploadFileForm").submit()
                 }
                },
                {
                 text: "取消",
                 click: function () {
                     $(this).dialog("close");
                 }
                }
            ],
            closeText: "关闭",
            draggable: false,
            width: 400,
            height: 300,
            resizable: false,
            title: "文件上传",
            modal: true
        });       

        $("#upload").click(function () {
            $("#uploadFile").dialog("open")
        })
    })
</script>
{% endblock %}
{% block header %}
{% include "header.html" %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="left">
    {% include "sidebar.html" %}
  </div>

  <div class="right">
    <div class="row">
      <label class="col-sm-2"></label>
      <button id="upload" type="button" class="btn btn-info col-sm-1"><i class="icon icon-cloud-upload"></i> 文件上传</button>
      <div class="col-md-6 col-sm-9"></div>
    </div>
    <div id="uploadFile">
      <form method="post" enctype="multipart/form-data" action="{% url 'upload' %}" role="form" id="uploadFileForm">
        {% csrf_token %}
        <div class="form-group">
          {{ form }}
        </div>
      </form>
      <div class="progress">
        <div class="bar"></div>
        <div class="percent">0%</div>
      </div>
      <div id="status"></div>
    </div>

    <div id="form-salt-push">
      <form class="form-horizontal pushform" role="form" id="push_form">
        <div class="form-group">
          <label class="col-sm-2"></label>
          <div class="col-md-6 col-sm-10">
            <h3>文件分发</h3>
          </div>
        </div>
        {% csrf_token %}
        <div class="form-group">
          <label for="select_host" class="col-sm-2">Minion</label>
          <div class="col-md-6 col-sm-10">
            <select id="select_host" name="host" multiple class="form-control chosen-select" data-placeholder="选择一台或多台主机">
              {% for asset in asset_list %}
                <option value="{{ asset.id }}">{{ asset }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="select_file" class="col-sm-2">选择文件</label>
          <div class="col-md-6 col-sm-10">
            <select id="select_file" name="push_file" class="form-control chosen-select">
              <option value="" selected>-------</option>
              {% for file in file_list %}
                <option value="{{ file.filename }}">{{ file.filename }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="_dest" class="col-sm-2">目标目录</label>
          <div class="col-md-6 col-sm-10">
            <input id="_dest" type="text" required name="dest" placeholder="请填写绝对路径" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button id="push" type="button" class="btn btn-primary">推送</button>
          </div>
        </div>
      </form>
    </div>

    <div id="result">
      <textarea id="test-result" wrap="hard"></textarea>
    </div>

    <div id="hiddenBox">
      <form role="form" id="hidden">
        {% csrf_token %}
        <div class="form-group">
          <!-- <label for="_jid">任务编号</label> -->
          <input id="_jid" type="text" required name="jid" class="form-control">
        </div>
      </form>
    </div>

    <div id="loading">文件推送中...</div>
  </div>
</div>
{% endblock %}
