{% extends "base.html" %}
{% load static %}
{% block msg %}{% include "message.html" %}{% endblock %}
{% block head %}
<link href="{% static 'plugin/chosen.min.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'plugin/chosen.jquery.min.js' %}"></script>
<style>
  #result textarea {
    width: 450px;
    height: 300px;
    margin-top: 10px;
    display: none;
  }
  p.tip span {
    font-weight:bold;
    color:#ff9955;
  }
  #_jid{
    display: none;
  }
</style>
<script>
    $(function () {
        $("button#push").click(function () {
           $.ajax({
               type: "POST",
               url: "{% url 'push' %}",
               data: $.param({
                   host: $("#select_host").val(),
                   push_file: $("#select_file").val(),
                   dest: $("#_dest").val(),
                   csrfmiddlewaretoken: $("#push_form input[name=csrfmiddlewaretoken]").val(),
              }, true),
               dataType: "json",
               success: function (response) {
                   return response
               }
            }).then(function (data) {
                var r = /(\d+)/;
                var jids = [];
                for (var i=0; i<data.length; i++) {
                    jids.push(data[i].match(r)[1])
                };
                var content = "";
                for (var x=0; x<jids.length; x++) {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'job' %}",
                        data: $.param({
                            jid: jids[x],
                            csrfmiddlewaretoken: $("#hidden input[name=csrfmiddlewaretoken]").val()
                        }),
                        success: function (response) {
                            content += response;
                            $("#test-result").show().text(content)
                        }
                    });
                };
            })
        });
        $(document).ajaxStart(function () {
            $(".loading").show();
        }).ajaxStop(function () {
            $(".loading").hide();
        });
        $(".chosen-select").chosen({
            disable_search_threshold: 5,
            no_results_text: "没有该选项：",
        }) 
    })
</script>
{% endblock %}
{% block content %}
{% include "sidebar.html" %}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                上传文件
            </button>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title" id="myModalLabel">上传文件</h3>
                        </div>
                        <div class="modal-body">
                            <form method="post" enctype="multipart/form-data" action="{% url 'upload' %}" role="form">
                                {% csrf_token %}
                                <div class="form-group">
                                {{ form }}
                                <div style="margin-top: 10px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-primary">上传</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3>文件分发</h3>
            <form class="form-horizontal pushform" role="form" id="push_form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="select_host" class="col-md-2 control-label">Minion</label>
                    <div class="col-md-10">
                        <select id="select_host" name="host" multiple class="form-control chosen-select" data-placeholder="选择一台或多台主机">
                            {% for asset in asset_list %}
                                <option value="{{ asset.id }}">{{ asset }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="select_file" class="col-md-2 control-label">选择文件</label>
                    <div class="col-md-10">
                        <select id="select_file" name="push_file" class="form-control chosen-select">
                            <option value="" selected>-------</option>
                            {% for file in file_list %}
                                <option value="{{ file.filename }}">{{ file.filename }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="_dest" class="col-md-2 control-label">目标目录</label>
                    <div class="col-md-10">
                        <input id="_dest" type="text" required name="dest" placeholder="请填写绝对路径" class="form-control">
                    </div>
                </div>
                <button id="push" type="button" class="btn btn-primary">推送</button>
            </form>
            <span class="loading" style="display: none;">正在努力推送中....</span>
        </div>
        <p class="tip"><p>
        <div id="result" class="container">
           <textarea id="test-result" wrap="hard"></textarea>
        </div>
        <div id="hiddenBox" class="container">
            <form role="form" id="hidden">
                {% csrf_token %}
                <div class="form-group">
                    <!-- <label for="_jid">任务编号</label> -->
                    <input id="_jid" type="text" required name="jid" class="form-control">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/waves.js' %}"></script>
<!-- App js -->
<script src="{% static 'js/jquery.core.js' %}"></script>
<script src="{% static 'js/jquery.app.js' %}"></script>
{% endblock %}
