{% extends "base.html" %}
{% load static %}
{% block msg %}{% include "message.html" %}{% endblock %}
{% block head %}
<link href="{% static 'plugin/chosen.min.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'plugin/chosen.jquery.min.js' %}"></script>
<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
<style>
  #result textarea {
    width: 400px;
    height: 200px;
    margin-top: 10px;
    display: none;
  }
  p.tip span {
    font-weight:bold;
    color:#ff9955;
  }
  #_jid{
    display: none;
  }
  .progress {
    position:relative;
    width:300px;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
  }
  .bar {
    background-color: #B4F5B4;
    width:0%;
    height:20px;
    border-radius: 3px;
  }
  .percent {
    position:absolute;
    top:3px;
    left:48%;
    display:inline-block;
    line-height: 15px;
  }
  #loading {
    background: url({% static 'css/images/loading.gif' %}) no-repeat 10px;
    line-height: 20px;
    font-size: 16px;
    color: #666;
    text-indent: 40px;
  }
</style>
<script>
    $(function () {
        $("#excute").button();

        $("#excute").click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'script' %}",
                data: $.param({
                    host: $("#select_host").val(),
                    script: $("#select_script").val(),
                    csrfmiddlewaretoken: $("#execute_form input[name=csrfmiddlewaretoken]").val()
                }, true),
                dataType: "json",
                beforeSend: function(jqXHR, settings) {
                    $("#excute").button("disable");
                    $("#loading").dialog("open");
               },
                success: function (response) {
                    $("#loading").css("background", "url({% static 'css/images/checked.gif' %}) no-repeat 10px").html("执行成功...");
                    $("#excute").button("enable");
                    setTimeout(function () {
                        $("#loading").dialog("close");
                        $("#execute_form").resetForm();
                        $("#loading").css("background", "url({% static 'css/images/loading.gif' %}) no-repeat 10px").html("脚本执行中...");
                    }, 1000);
                    return response
                }
            }).then(function (data) {
                var r = /(\d+)/;
                var jids = [];
                for (var i=0; i<data.length; i++) {
                    jids.push(data[i].match(r)[1])
                };
                var content = "";
                for (var x=0; x<jids.length; x++) {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'job' %}",
                        data: $.param({
                            jid: jids[x],
                            csrfmiddlewaretoken: $("#hidden input[name=csrfmiddlewaretoken]").val()
                        }),
                        success: function (response) {
                            content += response;
                            $("#test-result").show().html(content)
                        }
                    })
                }
            });

//            $(document).ajaxStart(function () {
//                $(".loading").show();
//            }).ajaxStop(function () {
//                $(".loading").hide();
//            })
        });

        $("#loading").dialog({
            autoOpen: false,
            draggable: false,
            modal: true,
            resizable: false,
            width: 180,
            height: 50
        }).parent().find(".ui-widget-header").hide();

        $(".chosen-select").chosen({
            disable_search_threshold: 5,
            no_results_text: "没有该选项：",
        });

        $("#menu").menu();

        var bar = $(".bar");
        var percent = $(".percent");
        var stat = $("#status");

        $("#uploadFileForm").ajaxForm({
            beforeSend: function () {
                stat.empty();
                var percentVal = "0%";
                bar.width(percentVal);
                percent.text(percentVal)
            },
            beforeSubmit: function (arr, form, options) {
                $("#uploadFile").dialog("widget").find("button").eq(1).button("disable")
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + "%";
                bar.width(percentVal);
                percent.text(percentVal)
            },
            success: function (response) {
                $("#uploadFile").dialog("widget").find("button").eq(1).button("enable");
                var percentVal = "100%";
                bar.width(percentVal);
                percent.text(percentVal);
                stat.html(response);
                setTimeout(function () {
                    $("#uploadFile").dialog("close");
                    window.location.reload()
                }, 3000)
            },
            resetForm: true
        });
        
        $("#uploadFile").dialog({
            autoOpen: false,
            buttons: [
                {
                 text: "上传",
                 click: function () {
                     $("#uploadFileForm").submit()
                 }
                },
                {
                 text: "取消",
                 click: function () {
                     $(this).dialog("close");
                 }
                }
            ],
            closeText: "关闭",
            draggable: false,
            width: 400,
            height: 300,
            resizable: false,
            title: "文件上传",
            modal: true
        });       

        $("#upload").click(function () {
            $("#uploadFile").dialog("open")
        })
    })
</script>
{% endblock %}
{% block content %}
{% include "sidebar.html" %}
<div class="container">
    <button id="upload" type="button" class="btn btn-info">文件上传</button>
    <div id="uploadFile">
        <form method="post" enctype="multipart/form-data" action="{% url 'upload' %}" role="form" id="uploadFileForm">
            {% csrf_token %}
            <div class="form-group">
                {{ upload_form }}
            </div>
        </form>
        <div class="progress">
            <div class="bar"></div>
            <div class="percent">0%</div>
        </div>
        <div id="status"></div>
    </div>
</div>
        <div class="container">
            <h3>执行脚本</h3>
            <form class="form-horizontal" role="form" id="execute_form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="select_host" class="col-md-2 control-label">Minion</label>
                    <div class="col-md-10">
                        <select id="select_host" name="host" multiple class="form-control chosen-select" data-placeholder="选择一台或多台主机">
                            {% for asset in asset_list %}
                                <option value="{{ asset.id }}">{{ asset }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="select_script" class="col-md-2 control-label">选择文件</label>
                    <div class="col-md-10">
                        <select name="script" id="select_script" class="form-control chosen-select">
                            <option value="" selected>------</option>
                            {% for file in file_list %}
                                <option value="{{ file.filename }}">{{ file.filename }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button id="excute" type="button" class="btn btn-primary">执行</button>
            </form>
        </div>
        <p class="tip"><p>
        <div id="result" class="container">
           <textarea id="test-result" wrap="hard"></textarea>
        </div>
        <div id="hiddenBox" class="container">
            <form role="form" id="hidden">
                {% csrf_token %}
                <div class="form-group">
                    <!-- <label for="_jid">任务编号</label> -->
                    <input id="_jid" type="text" required name="jid" class="form-control">
                </div>
            </form>
        </div>
    <div id="loading">脚本执行中...</div>
{% endblock %}
