<!DOCTYPE html>
<html>
<head lang="zh-cn">
    {% load static %}
    <meta charset="utf8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 响应式设计标签 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ZUI 标准版压缩后的 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/zui/1.8.1/css/zui.min.css">

    <!-- ZUI Javascript 依赖 jQuery -->
    <script src="//cdn.bootcss.com/zui/1.8.1/lib/jquery/jquery.js"></script>
    <!-- ZUI 标准版压缩后的 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/zui/1.8.1/js/zui.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <script src="{% static 'js/main.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
{% block msg %}{% endblock %}
{% block header %}{% endblock %}
{% block content %}{% endblock %}
</body>
</html>
