{% for field in form %}
  <div class="form-group">
    <label for="{{ field.id_for_label }}" class="col-sm-2">{{ field.label }}</label>
    <div class="col-md-6 col-sm-10">
      {{ field }}
      {% if field.errors %}
        <div class="{% if field.errors %} help-block {% endif %}">
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
        </div>
      {% endif %}
      {% if field.help_text %}
        <div class="help-block">{{ field.help_text|safe }}</div>
      {% endif %}
    </div>
  </div>
{% endfor %}
