{% load hightlight from customfilters %}
<div class="header">
  <div id="global-nav" class="global_nav">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- 导航头部 -->
        <div class="navbar-header">
          <!-- 移动设备上的导航切换按钮 -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- 品牌名称或logo -->
          <a class="navbar-brand" href="#">ZUI</a>
        </div>
        <!-- 导航项目 -->
        <div class="collapse navbar-collapse navbar-collapse-example">
          <!-- 一般导航项目 -->
          <ul class="nav navbar-nav">
            <li{% if request|hightlight %} class="active"{% endif %}><a href="{% url 'index' %}">项目</a></li>
            <li{% if request|hightlight %} class="active"{% endif %}><a href="{% url 'rbac:list_menu' %}">权限管理</a></li>
          </ul>
          <!-- 右侧的导航项目 -->
          <ul class="nav navbar-nav navbar-right">
            <li><a id="admin" href="javascript:void(0);" onclick="document.getElementById('admin').href = '/admin';"><i class="icon icon-dashboard"></i> 管理后台</a></li>
            <li><a href="{% url 'logoutview' %}"><i class="icon icon-off"></i> 注销</a></li>
          </ul>
        </div>
        <!-- END .navbar-collapse -->
      </div>
    </nav>
  </div>
</div>
