{% extends "base.html" %}
{% block head %}
<script>
    $(function () {
        $("#menu").menu()
    })
</script>
{% endblock %}
{% block content %}
{% include "sidebar.html" %}
<div class="content-page">
    <div class="container">
        <div class="row">
            <a href="{% url 'logoutview' %}" class="btn btn-default btn-sm pull-right">注销</a>
            <a id="admin" href="javascript:void(0);" class="btn btn-default btn-sm pull-right" onclick="document.getElementById('admin').href = '/admin';" style="margin-right: 5px;margin-bottom: 30px;">管理后台</a>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <p>IDC总数</p>
                <h2><a href="{% url 'idc' %}" style="color: #333;">{{ idc_number }}</a></h2>
            </div>
            <div class="col-lg-3 col-md-6">
                <p>物理服务器数量</p>
                <h2><a href="{% url 'ps' %}" style="color: #333;">{{ ps_number }}</a></h2>
            </div>
            <div class="col-lg-3 col-md-6">
                <p>资产总数</p>
                <h2><a href="{% url 'list' %}" style="color: #333;">{{ host_number }}</a></h2>
            </div>
            <div class="col-lg-3 col-md-6">
                <p>当前用户</p>
                <h2>{{ online_user }}</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}
