{% extends "base.html" %}
{% load static %}
{% block head %}
  <link href="{% static 'css/components.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
{% include "sidebar.html" %}
<div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="page-title-box">
                                    <span class="page-title">hello world</span>
                                    <div class="clearfix"></div>
                                </div>
			    </div>
			    <div class="col-xs-6">
                                <div class="page-title-box">
                                    <a href="{% url 'logoutview' %}" class="btn btn-default btn-sm pull-right">注销</a>
                                    <a id="admin" href="javascript:void(0);" class="btn btn-default btn-sm pull-right" onclick="document.getElementById('admin').href = '/admin';" style="margin-right: 5px;">管理后台</a>
                                    <div class="clearfix"></div>
                                </div>
			    </div>
			</div>
                        <!-- end row -->
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="card-box widget-box-two widget-two-primary">
                                    <i class="mdi mdi-chart-areaspline widget-two-icon"></i>
                                    <div class="wigdet-two-content">
                                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">IDC总数</p>
                                        <h2><span data-plugin="counterup"><a href="{% url 'idc' %}" style="color: #333;">{{ idc_number }}</a></span>
                                            <small><i class="mdi mdi-arrow-up text-success"></i></small>
                                        </h2>
                                    </div>
                                </div>
                            </div><!-- end col -->

                            <div class="col-lg-3 col-md-6">
                                <div class="card-box widget-box-two widget-two-warning">
                                    <i class="mdi mdi-layers widget-two-icon"></i>
                                    <div class="wigdet-two-content">
                                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">物理服务器数量</p>
                                        <h2><span data-plugin="counterup"><a href="{% url 'ps' %}" style="color: #333;">{{ ps_number }}</a></span>
                                            <small><i class="mdi mdi-arrow-up text-success"></i></small>
                                        </h2>
                                    </div>
                                </div>
                            </div><!-- end col -->

                            <div class="col-lg-3 col-md-6">
                                <div class="card-box widget-box-two widget-two-danger">
                                    <i class="mdi mdi-access-point-network widget-two-icon"></i>
                                    <div class="wigdet-two-content">
                                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">资产总数</p>
                                        <h2><span data-plugin="counterup"><a href="{% url 'list' %}" style="color: #333;">{{ host_number }}</a></span>
                                            <small><i class="mdi mdi-arrow-up text-success"></i></small>
                                        </h2>
                                    </div>
                                </div>
                            </div><!-- end col -->

                            <div class="col-lg-3 col-md-6">
                                <div class="card-box widget-box-two widget-two-success">
                                    <i class="mdi mdi-account-convert widget-two-icon"></i>
                                    <div class="wigdet-two-content">
                                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">当前用户</p>
                                        <h2><span data-plugin="counterup">{{ online_user }}</span>
                                            <small><i class="mdi"></i></small>
                                        </h2>
                                    </div>
                                </div>
                            </div><!-- end col -->

                        </div>
                        <!-- end row -->
                    </div> <!-- container -->
                </div> <!-- content -->
        </div>
        <script src="{% static 'js/waves.js' %}"></script>
                <!-- App js -->
        <script src="{% static 'js/jquery.core.js' %}"></script>
        <script src="{% static 'js/jquery.app.js' %}"></script>
{% endblock %}
