<div id="menu-box">
    <ul id="menu">
        <li>
            <div><a href="{% url 'index' %}">仪盘表</a></div>
        </li>
        <li>
            <div>IDC机房</div>
            <ul>
                <li>
                    <div><a href="{% url 'idc' %}">机房信息</a></div>
                </li>
                <li>
                    <div><a href="{% url 'add_idc' %}">增加机房</a></div>
                </li>
            </ul>
        </li>
        <li>
            <div>物理服务器</div>
            <ul>
                <li>
                    <div><a href="{% url 'ps' %}">服务器列表</a></div>
                </li>
                <li>
                    <div><a href="{% url 'add_ps' %}">增加服务器</a></div>
                </li>
            </ul>
        </li>
        <li>
            <div>资产管理</div>
            <ul>
                <li>
                    <div><a href="{% url 'list' %}">资产列表</a></div>
                </li>
                <li>
                    <div><a href="{% url 'add' %}">增加资产</a></div>
                </li>
            </ul>
        </li>
        <li>
            <div>saltstack</div>
            <ul>
                <li>
                    <div><a href="{% url 'install' %}">安装客户端</a></div>
                </li>
                <li>
                    <div><a href="{% url 'collect' %}">收集信息</a></div>
                </li>
                <li>
                    <div><a href="{% url 'command' %}">执行命令</a></div>
                </li>
                <li>
                    <div><a href="{% url 'push' %}">文件推送</a></div>
                </li>
                <li>
                    <div><a href="{% url 'script' %}">执行脚本</a></div>
                </li>
            </ul>
        </li>
        <li>
            <div>zabbix</div>
            <ul>
                <li>
                    <div><a href="{% url 'ADD' %}">添加主机</a></div>
                </li>
                <li>
                    <div><a href="{% url 'delete' %}">删除主机</a></div>
                </li>
            </ul>
        </li>
    </ul>
</div>
