/*--全局样式---*/
.container {
  max-width: 100%;
}

p.tip span {
  font-weight:bold;
  color:#ff9955;
}

td {
  text-align: center;
}

/*--顶部导航栏---*/
#global-nav .navbar {
  margin-bottom: 10px;
}

/*--侧边导航栏---*/
.left .sidebar {
  padding: 0;
  margin: 0;
  float: left;
}

.sidebar .menu {
  width: 200px;
}

.footer p {
  border-top: 1px solid #ccc;
  padding: 5px 0;
}


/*--右边内容区---*/
.right {
  margin-left: 250px;
}

.form-horizontal .form-group::after, .panel-body::after, .row::after {
  clear: none;
}

.form-group {
  height: 40px
}

textarea.form-control {
  height: 90px;
}

.row {
  margin-bottom: 15px;
}

#upload {
  width: 100px;
}
