body {
  font-family: Serif, Sans-serif;
  font-size: 100%;
}

.search {
  float: right;
}

p.tip span {
  font-weight:bold;
  color:#ff9955;
}

#menu-box {
  width: 200px;
  height: 100%;
}

#menu a {
  text-decoration: none;
}

.content {
  margin-left: 250px;
  margin-right: 30px;
}
